<a href="https://colab.research.google.com/github/GbemisolaAyejuni/CIND820-Big-Data-Analytics-Project/blob/main/Balanced_Sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing libraries
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
# Read and Load Dataset
reviews = pd.read_csv('/content/reviews_reviewcount.zip', sep=',', header=0)

In [8]:
count = reviews['stars'].value_counts()
print(count)

stars
5    2077009
4    1129142
1     566538
3     542708
2     404235
Name: count, dtype: int64

In [9]:
# Check the minimum count across each star rating
min_count = reviews['stars'].value_counts().min()

In [10]:
# Sample an equal number of reviews for each star rating
balanced_reviews = reviews.groupby('stars').apply(lambda x: x.sample(min_count)).reset_index(drop=True)

<ipython-input-10-75b152203e67>:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_reviews = reviews.groupby('stars').apply(lambda x: x.sample(min_count)).reset_index(drop=True)

In [13]:
balanced_reviews['stars'].value_counts()

stars
1    404235
2    404235
3    404235
4    404235
5    404235
Name: count, dtype: int64

In [14]:
# Save the balanced subset to a CSV file
balanced_reviews.to_csv('balanced_reviews.csv', index=False)